header {
    font-size: 24px;
    height:40px;
    background-color: aquamarine;
    margin: auto auto;
}

.block {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

body{
    height:1000px;
}

p {
    font-size: 20px;
    margin-left:5px;
    font-family: メイリオ;
}

h1 {
    font-size: 30px;
    color: red;
    margin-left: 5px;
}

h2 {
    font-size: 30px;
    color: green;
    margin-left: 5px;
}

h3 {
    font-size: 30px;
    color: blue;
    margin-left: 5px;
}